body, html {
    background-color: #fff;
    color: black;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
    line-height: 1.57142857;
    margin: 0;
    padding: 0;
}

.table{
    color: black;
    font-weight: 500;
}

.table>tfoot>tr>th, .table>thead>tr>th{
    color: black;
    font-weight: 700;
}

.form-control{
    color: black;
}

.language-selector .btn.btn-primary{
    opacity: 0.5;
    background: red;
    transition: 0.5s;
}

.language-selector .btn.btn-primary:hover{
    opacity: 0.5;
}

.language-selector .btn.btn-primary.active{
    background: #5cd29d;
    font-weight: bold;
    opacity: 1;
    transform: scale(1.2);
    border: black solid 1px;

}